services:
  jellyfin:
    image: jellyfin/jellyfin:10.11.3
    container_name: jellyfin
    user: 1000:1000
    group_add:
      - "44" # video group
      - "992" # render group
    devices:
      - /dev/dri:/dev/dri
    networks:
      - traefik
      - jellyfin
    volumes:
      - /home/server/jellyfin/config:/config
      - /home/server/jellyfin/cache:/cache
      - /mnt/nas-direct/media:/media:ro
    environment:
      - TZ=America/Chicago
      - JELLYFIN_CACHE_DIR=/cache
      - LIBVA_DRIVER_NAME=radeonsi
    restart: unless-stopped
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.jellyfin.rule=Host(`jelly.bobparsons.dev`)"
      - "traefik.http.routers.jellyfin.entrypoints=http,https"
      - "traefik.http.routers.jellyfin.tls=true"
      - "traefik.http.routers.jellyfin.tls.certresolver=letsencrypt"
      - "traefik.http.services.jellyfin-service.loadbalancer.server.port=8096"

networks:
  traefik:
    external: true
  jellyfin:
    driver: bridge
